body {
background: #000;

}

#slide-out div {
    font-family: 'Georgia';
    font-size: 1.5em;
    margin-left: 32px;
    font-weight: bolder;
}

#slide-out li a {
    font-family: 'Georgia';
}

#svg1, #svg2{
    height: 100vh;
    width: 100%;
  }


  .hints {
    position: absolute;
    top: 64px;
    background: white;
    left: 65px;
    width: 350px;
  }
  
  .hints li {
    color: grey;
    float:none;
  }

  .hints li a {
    color: #039be5;
  }
  
  body {    
color:black;}

section {
    background:white;
    color:black;
    z-index: 1;
}

.sidenav-trigger {
    z-index: 2 !important;
    position: fixed !important;
}

.search-container {
    width: 350px;
    margin: auto;
    padding: 20px;
    margin-top: 221px;
}

.search-container ul {

/* height: 200px;
overflow-y: scroll; */
}

.search-container li {
    margin:20px;
}

.trepan .row .col {
    padding:0px;
    text-align: center;
    position: relative;
}

h1 {
    z-index: 1;
 font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    margin-left: 20px;
    color:white;
   }

   section p {
       color:white;
       margin:20px;
   }

.fond {
    background:url('img/fond2.jpg');background-size: cover;
    width: 100%;
    height:100%;
    position: fixed;
    z-index:-1;
    filter: brightness(0.5);;
}

.background {
    background:url('img/wordcloud.png');background-size: cover;
    width: 100%;
    height:100%;
    position: absolute;
    z-index: 0;
    filter: blur(2px);
    background-position: 50% 50%;
}

.background2 {
    background: black;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    margin-top: 1;
    margin-top: 658px;
    background-position: 50% 50%;
}

.modal {
    color:black;
}

.pos-voue {
    transform: rotate( 0deg );
    transition-duration: 2.75s;
}

.pos-sociable {
    transform: rotate( -238deg );
    transition-duration: 2.75s;
}
/* 
.svg {
    transition-duration: 0.1s;
} */

.pos-meneur {
    transform: rotate( -122deg );
    transition-duration: 2.75s;
}



@font-face {
    /* not working font-family: "FrenchScriptMT";
    not working src: url("FrenchScriptMT.ttf") format("ttf"); */
   }

nav #nav-mobile a {
    /* font-family: 'FrenchScriptMT';  */
    font-size: 1.5em !important;
    font-family: "Georgia" !important;
}

div.modal {
    background: #f7f6f6;
    color:rgb(2, 0, 0);
    font-size: 1.5em;
    text-align: justify;
}

div.modal a { color:rgb(255, 0, 179);}


div.modal img.image {
    width: 100%;
}

div.modal div.center {
    text-align: center;
}

div.modal h4 {
    font-weight: bold;
    
}

div.modal span {
    border:1px solid black;
    padding:2px;
    font-weight: bold;
    margin-right:5px;
    
}

.compass1 {
    background: url(img/logo_home.png) no-repeat 50% 50%;
    background-size: 6%;
    border-radius: 1500px;
    padding: 7%;
    box-shadow: 1px 0px 35px white;
}

.boussole {
    width: 1000px;
    margin: auto;
    display: flex;
    margin-top: 50px;
}

.svg1 a:hover {
    fill:red;
    transition-duration: 0.5s;
}
.svg1 a.read {
    fill:yellow;
}
.compass {
    background: url(img/compass.svg) no-repeat 50% 54%;
    background-size: 103%;
}
.compass-background {
    /* background: url(img/fond.svg) 50% 50%; */
    background-size: cover;
    margin-top: 67px;
}
.truck .wheel {
    border-radius: 500px;
    border: thick double white;
}
.truck .wheel2 {
    background: url(img/logo_home.png) no-repeat 50% 50%;
    background-size: 6%;
}

.truck object {
    -webkit-animation:spin 360s linear infinite;
    -moz-animation:spin 360s linear infinite;
    animation:spin 360s linear infinite;
}

.svg1 {
    background: url(img/logo_home.png) no-repeat 50% 50%;
    background-size: 6%;
}
.svg1 object {
    width: 1000px;
    height: 1000px;    
    display: block;
    margin-top:100px;
    text-align: center;
    -webkit-animation:spin 360s linear infinite;
    -moz-animation:spin 360s linear infinite;
    animation:spin 360s linear infinite;
    overflow: hidden;
}

.svg2 {
    width: 1000px;
    height: 1000px;
    background: url(img/logo_home.png) no-repeat 50% 50%;
    display: block;
    background-size: 6%;margin-top:100px;
    text-align: center;
    -webkit-animation:spin 360s linear infinite;
    -moz-animation:spin 360s linear infinite;
    animation:spin 360s linear infinite;
    overflow: hidden;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

.container.boussole1 {
    width: 1000px;
    box-shadow: -10px -7px 23px grey;
    height: 1000px;
    position: relative;
    border-radius: 5000px;
    background: url(img/logo_home1-omb.jpg) no-repeat 50% 50%;
    background-size: 6%;
    background-color: white;
}

.svg a {
    transition: background-color 1s;
}

.svg a:hover {
    background: yellow;
}



.svg .s2, .svg h1, .modal {
    font-family: "Georgia, Arial" !important;
}

.svg h4 {
    font-size: 1.5rem;
}

.svg h3 {
    font-size: 1.4em;
    font-style: italic;
}

.svg h3 a {
    color:black;
}

.svg h2 {
    font-size: 2.5em;
}

.svg h1 {
    line-height: 30%;
}

.svg h1 a {
    font-weight: bold;
    color:black;
}

.svg h5 {
    font-size: 1em;
    line-height: 43%;
}

.svg h4 a, .svg h5 a, .svg h6 a {
    color:#7cb342;
}

blockquote {
    border-left: 5px solid blue;
}


.svg a:hover {
fill: red;}

.logo img {
        position:absolute;
    background:url("img/logo_home1-omb.jpg");
    top: 390px !important;
    left: 378px !important;
    width: 40px !important;
    height: 40px;
    z-index:1;
}


footer {
margin-top:300px;
z-index: 1;
    background: none !important;
}


body {
display: flex;
min-height: 100vh;
flex-direction: column;
}

main {
flex: 1 0 auto;
}

.sidenav-trigger {
  position: absolute;
color: white;
margin: 10px 0px 0px 10px;
z-index:1;
}

#slide-out a span {
color:black !important;
}




